*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{

border: 3px;
border-radius: 10px;
max-width: 1000px;
text-align: center;
padding: 30px;
overflow: hidden;
}